<!-- <h1>Users#new</h1> -->

<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
   <%= render 'fields', :f => f %>
  <!-- the line above inserts the contens of the _fields.html.erb 
  	see comments in edit.html.erb for code explnation -->
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

